Repository MHRA/products, pull requests merged in 2020-01, with the labels that each got.

#239 Enhance pa11yci
  learning/web/.pa11yci
  learning/web/gatsby-node.js
  learning/web/package.json
  learning/web/yarn.lock
Labels: a11y :wheelchair:, learning modules 🎓

#238 CPD sitemap
  learning/web/gatsby-config.js
  learning/web/package.json
  learning/web/yarn.lock
Labels: learning modules 🎓

#253 Adding products and substances to sitemap.
  medicines/web/components/drug-index/index.tsx
  medicines/web/package.json
  medicines/web/services/azure-search.ts
  medicines/web/tools/sitemap-generator.ts
  medicines/web/yarn.lock
Labels: WIP 🚧, r4r :eyes:

#252 Azure Cluster
  infrastructure/README.md
  infrastructure/environments/non-prod/.env.example
  infrastructure/environments/non-prod/main.tf
  infrastructure/environments/non-prod/outputs.tf
  infrastructure/environments/non-prod/variables.tf
  infrastructure/environments/prod/.env.example
  infrastructure/environments/prod/main.tf
  infrastructure/environments/prod/outputs.tf
  infrastructure/environments/prod/variables.tf
  infrastructure/scripts/create-kubernetes-config.sh
  medicines/web/package.json
Labels: enhancement 💫, infrastructure :building_construction:, r4r :eyes:, tech task :computer_mouse:

#257 Istio setup
  infrastructure/README.md
  infrastructure/environments/non-prod/istio.aks.yaml
  infrastructure/environments/prod/istio.aks.yml
Labels: cli tools :hammer_and_wrench:, documentation, enhancement 💫, infrastructure :building_construction:, r4r :eyes:

#263 API Pod - Create a Kubernetes Pod for the API
  medicines/api/infrastructure/README.md
  medicines/api/infrastructure/non-prod/deployment.yml
Labels: API 🦀, enhancement 💫, great gif :clap:, infrastructure :building_construction:, r4r :eyes:

#264 API Pod - Rust server for API
  medicines/Cargo.lock
  medicines/Cargo.toml
  medicines/api/.gitignore
  medicines/api/Cargo.lock
  medicines/api/Cargo.toml
  medicines/api/README.md
  medicines/api/src/main.rs
  medicines/api/src/schema.rs
Labels: API 🦀, enhancement 💫, r4r :eyes:

#261 TECH - Azure Cluster documentation improvement
  infrastructure/README.md
  infrastructure/docs/infrastructure.md
  infrastructure/docs/kubernetes.md
  infrastructure/environments/non-prod/main.tf
  infrastructure/environments/prod/main.tf
Labels: cli tools :hammer_and_wrench:, enhancement 💫, infrastructure :building_construction:, r4r :eyes:

#267 Adding data normalizer for the manual batch process.
  medicines/data-normalizer/README.md
  medicines/data-normalizer/normalize.pl
Labels: cli tools :hammer_and_wrench:, r4r :eyes:, tech task :computer_mouse:

#266 API Pod - Dockerise the API server 🐳 🦀
  medicines/api/.dockerignore
  medicines/api/Cargo.lock
  medicines/api/Cargo.toml
  medicines/api/Dockerfile
  medicines/api/README.md
  medicines/api/src/main.rs
Labels: API 🦀, enhancement 💫, great gif :clap:

#270 API Pod - Kubernetes Pod deployment of API
  infrastructure/environments/non-prod/main.tf
  infrastructure/environments/non-prod/outputs.tf
  medicines/api/README.md
  medicines/api/infrastructure/README.md
  medicines/api/infrastructure/non-prod/deployment.yml
  medicines/api/infrastructure/non-prod/service.yml
  medicines/api/src/main.rs
Labels: API 🦀, cli tools :hammer_and_wrench:, enhancement 💫, infrastructure :building_construction:, r4r :eyes:

#273 Testing strategy principles
  docs/principles/testing.md
Labels: documentation

#271 End-to-end tests
  azure-pipelines.yml
  medicines/web/.gitignore
  medicines/web/cypress.json
  medicines/web/cypress/fixtures/facets.json
  medicines/web/cypress/fixtures/search_results.json
  medicines/web/cypress/integration/tests.js
  medicines/web/cypress/plugins/index.js
  medicines/web/cypress/support/commands.js
  medicines/web/cypress/support/index.js
  medicines/web/package.json
  medicines/web/yarn.lock
Labels: great gif :clap:

#274 Updates addressing late comments from #273
  docs/principles/testing.md
Labels: documentation

#246 Create LICENSE
  LICENSE
Labels: documentation, enhancement 💫, great gif :clap:, r4r :eyes:

#276 Web pod guide
  medicines/web/infrastructure/README.md
  medicines/web/package.json
  medicines/web/src/components/cookie-policy/index.tsx
  medicines/web/src/components/disclaimer/index.tsx
  medicines/web/src/components/drug-index/index.tsx
  medicines/web/src/components/footer/index.tsx
  medicines/web/src/components/header/index.tsx
  medicines/web/src/components/logos/agency-digital-logo.tsx
  medicines/web/src/components/logos/crown-grey.tsx
  medicines/web/src/components/logos/mhra-logo.tsx
  medicines/web/src/components/logos/yellow-card.tsx
  medicines/web/src/components/mip-text/index.tsx
  medicines/web/src/components/mip/index.tsx
  medicines/web/src/components/page/index.tsx
  medicines/web/src/components/pdf/index.tsx
  medicines/web/src/components/search-results/index.tsx
  medicines/web/src/components/search-results/pagination-groups.ts
  medicines/web/src/components/search-results/pagination.tsx
  medicines/web/src/components/search/index.tsx
  medicines/web/src/components/yellow-card/index.tsx
  medicines/web/src/copy/about.md
  medicines/web/src/copy/accessibility.md
  medicines/web/src/copy/cookies.md
  medicines/web/src/copy/homepage.md
  medicines/web/src/hooks/index.tsx
  medicines/web/src/model/substance.ts
  medicines/web/src/pages/_app.tsx
  medicines/web/src/pages/_document.tsx
  medicines/web/src/pages/about.tsx
  medicines/web/src/pages/accessibility.tsx
  medicines/web/src/pages/cookies.tsx
  medicines/web/src/pages/index.tsx
  medicines/web/src/services/azure-search.ts
  medicines/web/src/services/substance-loader.ts
  medicines/web/src/styles/colors.ts
  medicines/web/src/styles/dimensions.ts
  medicines/web/src/styles/fonts.ts
  medicines/web/src/tools/README.md
  medicines/web/src/tools/sitemap-generator.ts
  medicines/web/src/tools/svgr.js
  medicines/web/src/tools/tsconfig.json
Labels: documentation, website 💻

#278 Docker web pod
  medicines/web/.dockerignore
  medicines/web/Dockerfile
  medicines/web/docker-compose.yml
  medicines/web/infrastructure/README.md
Labels: infrastructure :building_construction:, website 💻
